* {
    margin: 0;
	padding: 0;
	border: 0;
}

body {
    background: #F0F2F5;
    --webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}